// Typography
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  @media #{$medium-up} {
  }
  @media #{$large-up} {
  }
}

// Off-canvas
.off-canvas-custom {
  .left-off-canvas-menu {
    transform: none;
    transition: transform 0ms; // Sets speed of opening menu
  }
}

.left-off-canvas-menu {
  transition: transform 200ms ease 0s; // Sets speed of closing menu
  position: fixed;
  ul.off-canvas-list {
    li {
      display: inline-block;
    }
  }
}

// Content
@media #{$large-up} {
  .content {
    padding-top: 70px;
  }
}