<section class="Mobilefirst">
    <div class="Mobilefirst-inner">
        <div class="Mobilefirst-container">
            <header class="Header">
                <h2 class="Header-text">Mobile first and responsive web design</h2>
            </header>
            <p class="Mobilefirst-text">Approaching a new project by designing and building for smaller devices first brings a number of benefits to the development process. Minimal screen real estate and slower download speeds forces the developer to focus on what’s essential for the user.</p>
            <p class="Mobilefirst-text">This was the approach I adopted when designing and developing the Comparethemarket.com motor insurance website front-end. Starting with sketched prototypes for demonstration to stakeholders, then moving to higher definition Photoshop visuals to include branding.</p>
            <ul class="Features">
                <li class="Features-item">Design,</li>
                <li class="Features-item">UX,</li>
                <li class="Features-item">Development (.NET, KnockoutJS)</li>
            </ul>
        </div>
        <img class="Mobilefirst-image" src="images/mobile-motor-price.png" alt="Motor price page">
    </div>
</section>

<section class="Ideation">
    <div class="Ideation-inner">
        <div class="Ideation-container">
            <header class="Header">
                <h2 class="Header-text">Team design ideas sessions</h2>
            </header>
            <p class="Ideation-text">An approach I introduced in my current role is to lead design idea sessions at the beginning of new projects. These idea sessions involve the development team and as many project stakeholders as possible.</p>
            <p class="Ideation-text">The sessions use Gamestorming techniques to explore the teams ideas and capture them in sketch form. These sketches are then refined and prototypes built for user testing. These session have increased stakeholder engagement in the development process and provided a large range of ideas to take forward.</p>
            <ul class="Features">
                <li class="Features-item">Design,</li>
                <li class="Features-item">UX,</li>
            </ul>
        </div>
        <img class="Ideation-image" src="images/ux-sketching2.jpg" alt="Motor price page">
    </div>
</section>

<section class="Development">
    <div class="Development-inner">
        <div class="Development-container">
            <header class="Header">
                <h2 class="Header-text">DRY and semantic code</h2>
            </header>
            <p class="Development-text">Approaching a new project by designing and building for smaller devices first brings a number of benefits to the development process. Minimal screen real estate and slower download speeds forces the developer to focus on what’s essential for the user.</p>
            <p class="Development-text">This was the approach I adopted when designing and developing the Comparethemarket.com motor insurance website front-end. Starting with sketched prototypes for demonstration to stakeholders, then moving to higher definition Photoshop visuals to include branding.</p>
            <ul class="Features">
                <li class="Features-item">Design,</li>
                <li class="Features-item">UX,</li>
                <li class="Features-item">Development (.NET, AngularJS)</li>
            </ul>
        </div>
        <img class="Development-image" src="images/rewards.png" alt="Rewards price page">
        <img class="Development-image -border" src="images/simples.png" alt="Simples page">
    </div>
</section>

<section class="Leanux">
    <div class="Leanux-inner">
        <div class="Leanux-container">
            <header class="Header">
                <h2 class="Header-text">Prototyping</h2>
            </header>
            <p class="Leanux-text">Taking a user centred design approach is important to ensure the end user’s needs are considered at every stage of the design and development process. At the start of a project I build interactive prototypes in either sketch form or in HTML, CSS and JavaScript, these prototypes are shown to external users as early in the development process as possible gaining valuable user feedback for the next development iteration.</p>
            <ul class="Features">
                <li class="Features-item">Design,</li>
                <li class="Features-item">UX,</li>
            </ul>
        </div>
        <img class="Leanux-image" src="images/bridge.jpg" alt="Motor price page">
        <img class="Leanux-image" src="images/sketch.jpg" alt="Motor price page">
    </div>
</section>