.Banner {

  background: {
    image: url("../images/desktop-bg_x2.jpg");
    position: center center;
    repeat: no-repeat;
    size: cover;
    attachment: fixed;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
  height: 100vh;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  text-align: center;

  &:after {
    pointer-events: none;
    content: '';
    background-color: $background;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation-name: sharpenAnimation;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  &-name {
    color: white;
    font: {
      family: 'Titillium Web', sans-serif;
      size: 1.3em;
      weight: 100;
    }
    text-transform: uppercase;
  }

  &-description {
    color: white;
    font: {
      family: 'Titillium Web', sans-serif;
      size: 3.1em;
      weight: 100;
    }
  }

}

@-webkit-keyframes sharpenAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}