#header {
  transition: background-color 0.2s ease;
  background: #2e3842;
  height: 3em;
  left: 0;
  line-height: 3em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  h1 {
    transition: opacity 0.2s ease;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    position: absolute;
    top: 0;

    a {
      border: 0;
      display: block;
      height: inherit;
      line-height: inherit;
    }
  }

  nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 0;
    top: 0;

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;

      > li {
        display: inline-block;
        padding: 0;

        > a {
          border: 0;
          color: white;
          display: block;
          font-size: 0.8em;
          padding: 0 1.5em;
          text-transform: uppercase;

          &.menuToggle {
            outline: 0;
            position: relative;

            &:after {
              background-image: url('images/bars.svg');
              background-position: right center;
              background-repeat: no-repeat;
              content: '';
              display: inline-block;
              height: 3.75em;
              vertical-align: top;
              width: 2em;
            }

            @media screen and (max-width: 736px) {
              padding: 0 1.5em;

              span {
                display: none;
              }
            }
          }

          @media screen and (max-width: 736px) {
            padding: 0 0 0 1.5em;
          }
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &.alt {
    background: transparent;

    h1 {
      pointer-events: none;
      opacity: 0;
    }
  }
}